/*
**	html-common.css
*/

@import "./technology-colour.css";
@import "./element/element-colour.css";

@import "./element/script-visible.css";
@import "./element/style-visible.css";


:root {
	--project-colour: mediumvioletred;

	--light-html: #eee;
	--light-body: #fff;
	--light-text: #000;

	--dark-html: #000;
	--dark-body: #111;
	--dark-text: #fff;

	--background-alpha: 0.15;
	--border-alpha: 0.7;
}


html {
	color-scheme: light;
	background-color: var(--light-html);
	body {
		background-color: var(--light-body);
		color: var(--light-text);
	}
}

html[data-colourscheme=light] {
	color-scheme: light;
	background-color: var(--light-html);
	body {
		background-color: var(--light-body);
		color: var(--light-text);
	}
}

html[data-colourscheme=dark] {
	color-scheme: dark;
	background-color: var(--dark-html);
	body {
		background-color: var(--dark-body);
		color: var(--dark-text);
	}
}


body {
	margin:1em;
	padding:1em;
	border-radius:1em;
	font-family:sans-serif;

	/* --accent-colour: var(--project-colour);
	--accent-light: hsl(from var(--accent-colour) h s 20 / 1);
	--accent-dark:  hsl(from var(--accent-colour) h s 80 / 1);
	accent-color: light-dark(var(--accent-light), var(--accent-dark)); */
	accent-color: var(--project-colour);
}



header {
	position:sticky;
	top:0;
	background-color: inherit;
	z-index: 50;
}



main {
	&>* {
		border: 1px inset hsl( from var(--element-colour) h s l / var(--border-alpha));
		background-color: hsl( from var(--element-colour) h s l / var(--background-alpha));
		padding: 1ex;
	}
}




/*
**	grid layout
*/


main {
	display:grid;

	margin:1ex;	border-radius:1ex;
	&>* {
		margin:inherit;
		border-radius:inherit;
		grid-column-start: span 2;
	}

	.limit-height {
		max-height:30em;
		overflow-y: scroll;
	}
}

@media (orientation: landscape) {
	main {
		grid-template-columns: 1fr 1fr 1fr 1fr;
		&>* {
			grid-column-start: span 2;
		}
		.fullwidth { grid-column-start: span 4; }
	}
}

@media (orientation: portrait) {
	main {
		grid-template-columns: 1fr 1fr ;
	}
}



/*
**	Miscellaneous
*/



h1:first-child, h2:first-child { margin-top:0ex; }

h1 {
	border-bottom: 1px solid silver;
}
h2 {
	border-bottom: 1px dotted silver;
}


a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}


nav {
	display:block;
	float:right;
	font-weight:bold;
	font-size: 2em;
}


details {
	margin:1em 0em;
	cursor:pointer;
}
summary:hover {
	text-decoration: underline dotted;
}

