/*
**	html-common.css
*/

@import "./technology-colour.css";
@import "./element/element-colour.css";

@import "./element/script-visible.css";
@import "./element/style-visible.css";



html {

	--silver-light: #bbb;
	--silver-dark: #333;

	--nearly-white: #fcfcfc;
	--nearly-black: #111;


	--html-background-light: var(--silver-light);
	--body-background-light: var(--nearly-white);

	--html-background-dark: var(--nearly-black);
	--body-background-dark: var(--silver-dark);


	background-color: var(--html-background-light);

	--accent-colour: mediumvioletred;
	--accent-light: mediumvioletred;
	--accent-dark: hwb(from var(--accent-colour) h w b / a);

	/* background-color: hwb(from var(--css-purple) h w b / 0.4); */
	/* --accent: var(--accent-dark); */
	--accent: var(--accent-colour);
	accent-color: var(--accent-colour);
}


html.colourScheme-light {
	color-scheme: light;
	background-color: var(--html-background-light);
	body {
		background-color: var(--body-background-light);
		color: black;
	}
}

html.colourScheme-dark {
	color-scheme: dark;
	background-color: var(--html-background-dark);
	body {
		background-color: var(--body-background-dark);
		color: white;
	}
}


body {
	margin:1em;
	padding:1em;
	border-radius:1em;
	font-family:sans-serif;
	color:black;
	background-color: var(--body-background-light);
}


main {
	&>* {
		border: 1px inset var(--element-colour);
		background-color: hsl(from var(--element-colour) h s 50 / 0.5);
		padding: 1ex;
	}
	form {
		background-color: hwb(from var(--element-colour) h w 20 / 0.5);
	}
}


.colourScheme-light {
	main>* {
		border: 1px inset var(--element-colour);
		background-color: hsl(from var(--element-colour) h s 50 / 0.5);
	}
	form {
		background-color: hwb(from var(--element-colour) h w 20 / 0.5);
	}
}

.colourScheme-dark {
	main>* {
		border: 1px inset var(--element-colour);
		background-color: hsl(from var(--element-colour) h s 50 / 0.2);
	}
	form {
		background-color: hwb(from var(--element-colour) h w 20 / 0.2);
	}
}



/*
**	grid layout
*/


main {
	display:grid;

	margin:1ex;	border-radius:1ex;
	&>* {
		margin:inherit;
		border-radius:inherit;
		grid-column-start: span 2;
	}

	.limit-height {
		max-height:30em;
		overflow-y: scroll;
	}
}

@media (orientation: landscape) {
	main {
		grid-template-columns: 1fr 1fr 1fr 1fr;
		&>* {
			grid-column-start: span 2;
		}
		.fullwidth { grid-column-start: span 4; }
	}
}

@media (orientation: portrait) {
	main {
		grid-template-columns: 1fr 1fr ;
	}
}



/*
**	Miscellaneous
*/



h1:first-child, h2:first-child { margin-top:0ex; }

h1 {
	border-bottom: 1px solid silver;
}
h2 {
	border-bottom: 1px dotted silver;
}


a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}


nav {
	display:block;
	float:right;
	font-weight:bold;
	font-size: 2em;
}


details {
	margin:1em 0em;
	cursor:pointer;
}
summary:hover {
	text-decoration: underline dotted;
}

