/*
**	html-common.css
*/

@import "./technology-colour.css";
@import "./element/element-colour.css";

@import "./element/script-visible.css";
@import "./element/style-visible.css";


:root {
	--project-colour: mediumvioletred;
}


html {
	--html-light: #ddd;
	--html-dark: #000;
	background-color: var(--html-light);

	body {
		--body-light: #fcfcfc;		/* nearly-white */
		--body-dark: #222;
		background-color: var(--body-light);
	}
}

html.colourScheme-light {
	color-scheme: light;
	background-color: var(--html-light);
	body {
		background-color: var(--body-light);
		color: black;
	}
}

html.colourScheme-dark {
	color-scheme: dark;
	background-color: var(--html-dark);
	body {
		background-color: var(--body-dark);
		color: white;
	}
}


body {
	margin:1em;
	padding:1em;
	border-radius:1em;
	font-family:sans-serif;

	/* --accent-colour: var(--project-colour);
	--accent-light: hsl(from var(--accent-colour) h s 20 / 1);
	--accent-dark:  hsl(from var(--accent-colour) h s 80 / 1);
	accent-color: light-dark(var(--accent-light), var(--accent-dark)); */
	accent-color: var(--project-colour);
}


main {
	&>* {
		border: 1px inset var(--element-colour);
		background-color: hsl(from var(--element-colour) h s 60 / 0.30);
		padding: 1ex;
	}
}


.colourScheme-light {
	main>* {
		border: 1px inset var(--element-colour);
		background-color: hsl(from var(--element-colour) h s 60 / 0.30);
	}
}

.colourScheme-dark {
	main>* {
		border: 1px inset var(--element-colour);
		background-color: hsl(from var(--element-colour) h s 60 / 0.10);
	}
}



/*
**	grid layout
*/


main {
	display:grid;

	margin:1ex;	border-radius:1ex;
	&>* {
		margin:inherit;
		border-radius:inherit;
		grid-column-start: span 2;
	}

	.limit-height {
		max-height:30em;
		overflow-y: scroll;
	}
}

@media (orientation: landscape) {
	main {
		grid-template-columns: 1fr 1fr 1fr 1fr;
		&>* {
			grid-column-start: span 2;
		}
		.fullwidth { grid-column-start: span 4; }
	}
}

@media (orientation: portrait) {
	main {
		grid-template-columns: 1fr 1fr ;
	}
}



/*
**	Miscellaneous
*/



h1:first-child, h2:first-child { margin-top:0ex; }

h1 {
	border-bottom: 1px solid silver;
}
h2 {
	border-bottom: 1px dotted silver;
}


a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}


nav {
	display:block;
	float:right;
	font-weight:bold;
	font-size: 2em;
}


details {
	margin:1em 0em;
	cursor:pointer;
}
summary:hover {
	text-decoration: underline dotted;
}

