/*
**	Miscellaneous
*/





details {
	margin:1em 0em;
	summary {
		cursor:pointer;
		border-bottom: 1px dotted transparent;
	}
	summary:hover {
		border-bottom: 1px dotted;
	}
}


[type=disabled] {
	max-height: 12em;
	overflow-y: scroll;
	background:
		repeating-linear-gradient(
			135deg,
			#999a 0px,
			#999a 10px,
			#fffa 10px,
			#fffa 20px
		);
}

