form {
	display: grid;
	border:1px solid #bbb;
	border-radius: 1ex;
	background-color:#eeeb;
	padding:1ex;
	margin: 1ex;

	font-size: 1em;

	h1 { font-size:3ex; margin-bottom: 1ex; }
	h2 { font-size:2ex; margin-top:2ex; margin-bottom:1ex; }
	h3 { font-size:1em; margin-top:1ex; margin-bottom:1ex; }


	h1 + h2 { margin-top: 0ex; }

	details { margin-top:1ex; margin-bottom: 0ex; }
	details > label { display: block; }


	hr { width:100%; }


	textarea { font-size: 1.6ex; }

	br { margin-top:1ex; }

	details { margin-top: 0em; }
	details.project { margin-top: 1ex; }



	&:focus-within {
		transition-duration: 0s;
		outline: 2px solid var(--accent);
	}

	*:focus-visible {
		transition-duration: 0s;
		outline: 2px solid var(--accent);
	}

}/* form */



textarea {
	width:90%;
	height:auto;
	min-height:5rlh;
}