
body script {
	display: block;
	border-radius: 1ex;
	padding: 0ex;
	font-family: monospace;
	white-space-collapse: preserve;
	tab-size: 4;

	&::before {
		display:inline-block;
		background-color: var(--element-colour);
		border-radius: 1ex 0ex;
		margin-bottom: 1ex;
		padding:1ex;
		content: 'script ' attr(type) ' ' attr(src);
	}
}

.colourScheme-dark body script {
	&::before { color: black; }
}