
/* styles in the html body are displayed */
body style {
	display: block;
	border-radius: 1ex;
	/* corner-shape: bevel; */
	padding: 0ex;
	font-family: monospace;
	white-space-collapse: preserve;
	tab-size: 4;

	&::before {
		display:inline-block;
		background-color: var(--element-colour);
		border-radius: 1ex 0ex;
		margin-bottom: 1ex;
		padding: 1ex;
		color:white;
		content: 'style';
	}

	&[contenteditable]::before { content:'style contenteditable='attr(contenteditable)}
}

/* linked stylesheets in the html body are displayed */
body link[rel="stylesheet"] {
	border: 1px dashed var(--element-colour);
	background-color: hsl(from var(--element-colour) h s l / 0.2);

	display: inline-block;
	margin:1ex;
	padding:1ex;
	border-radius: 1ex;
	font-family: monospace;
	&::after {
		content: 'link ' attr(rel) ' ' attr(href);
	}
}
