


body {
	font-family:sans-serif;
}


h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child { margin-top:0ex; }


h2 {
	border-bottom: 1px dotted silver;
}


a {
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}



