

@import "../../style/fullpage/dialog-appInfo.css";
@import "../../style/fullpage/ui-panel.css";
@import "../../style/fullpage/panel-group.css";

:root {
	--project-colour: mediumvioletred;
}

html {

	--scheme-colour: oklch(from var(--project-colour) 0.80 c h / alpha);
	--html-background: var(--scheme-colour);
	--accent-colour: oklch(from var(--project-colour) 0.40 c h / alpha);
	--text-colour: black;


	background-color: var(--html-background);
	accent-color: var(--accent-colour);
	color: var(--text-colour);
	color-scheme: light;

	font-family: sans-serif;
	font-size: 14px;

	margin:0px;
	padding:0px;

	body {
		margin:0px;
		padding:0px;
	}
	scrollbar-width: none;

	body > main > svg { display:block; } /* fix the extra pixels on svg thing */
}


