

#dialog-appInfo {
	/* backdrop-filter: blur(20px); */
	border-radius: 1em;
	padding:1em;
	border: 3px solid var(--accent-colour);
	opacity: 95%;
	box-shadow: 0px 0px 3em var(--accent-colour);

	h1 { text-align: center;}
	h1::before {
		display: inline-block ;
		content: url("../../favicon.svg");
		height:2ex;
		width:2ex;
		vertical-align: sub;
	}
	a {
		border-radius:3px;
		color: var(--accent-colour);	/* experimental, should perhaps use a diff var */
	}

	dl {
		display: grid;
		grid-template-columns: 2fr 3fr ;
		margin:1em;
		font-size:1em;
	}
	dt {

		margin: 0em 1em;
		white-space: nowrap;
		font-family: monospace;

	}
	kbd {

		display:inline-block;
		width:3ex;
		padding:0.2em;
		border: 1px dashed grey;
		border-radius: 1ex;
		text-align:center;
		font-weight: bold;
		vertical-align: middle;
	}
	dd {
		margin: 0em 1em;
		padding-top:1ex;
		vertical-align: middle;
	}


	&::backdrop {
		background-image:  url('../../favicon.svg');
		backdrop-filter: blur(1pt) brightness(40%);
		background-position: center;
		background-repeat: repeat;

		background-size: 15vh;
		/* background-color: var(--accent); */
		opacity: 0.8;
	}

	*:focus-visible {
		outline: 1px dashed;
		/* tones down the default thick focus ring that gets shown when using kbd to open the dialog */
	}

}

