
.ui-panel {


	--border-colour: lab( from var(--scheme-colour) calc(sign(l - 70) * -100) 0 0 / 0.5);	/* text-colour, transparent, need to abstract */
	--gap: 1ex;

	display: grid;
	gap: var(--gap);

	min-width: 16rem;

	border-width: 1px;
	border-style: solid;
	border-color: var(--border-colour);
	border-radius: 1ex;

	background-color: hsl( from var(--scheme-colour) h s clamp(20,l,80) / 0.5);			/* scheme colour clamped */

	padding:1ex;
	margin: 1ex;


	&>*:first-child { margin-top:0em; }


	details {
		margin-top:1ex;
		summary {
			cursor:pointer;
			border-bottom: 1px dotted transparent;
			margin-bottom:1ex;
		}
		summary:hover {
			border-bottom: 1px dotted;
		}
	}

	fieldset {
		padding:0px;
		border:none;
	}

	.flex1 {
		display: flex;
		gap: var(--gap);
		&>* { flex: 1; }
		text-align: center;

	}


	details>fieldset {
		display: grid;
		gap: var(--gap);
	}
	summary>h3 { display:inline-block; margin: 0ex 0ex 0.1ex;}


	label {
		h1,h2,h3,h4,h5 {
			display:inline-block;
		}
	}

	label:has([type=radio], [type=checkbox]) {

		border-radius: var(--gap);
		/* vertical-align: middle ;
		input { vertical-align: middle; } */
		&:hover {
			outline: 1px dotted var(--border-colour);
		}
	}


	input, option { text-align: center; padding:1pt; }
	textarea { font-size: 1em; }

	header>h1 { margin-top:0em; }

	h1 { font-size:2rem; }
	h2 { font-size:1.6rem; margin-top:2ex; margin-bottom:1ex; }
	h3 { font-size:1.2rem; margin-top:2ex; margin-bottom:1ex; }
	h4 { font-size:1rem; margin-top:1ex; margin-bottom:.6ex; }
	h1 + h2 { margin-top: 0ex; }


	label:has(h2) { margin-top:2ex; }

	hr { width:100%;  } /* border:1px dotted silver inset; */

	option:checked {
		font-weight:bold;
	}

	&:focus-within {
		outline: 2px solid var(--accent-colour);
	}

}/* ui-panel */